
html, body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
  color: white;
  font-family: fantasy;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  align-items: center;
  
}

.human-icon {
  color: white;
  
}

.center-container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: solid black;
  border-right: solid black;
  align-content: space-evenly;
  font-size: 30px;
}

.game-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 600px;
}

.game-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
  height: 350px;
}

p{
  margin-bottom: 15px;
}

h4{
  margin-top: 5px;
}

.game-classic, .game-difficult {
  height: 130px;
  width: 175px;
  background-color: #4158D0;
  background-image: linear-gradient(to left, #8360c3, #2ebf91);
  cursor: pointer;
  border-radius: 10px;
}

.classic-buttons, .difficult-buttons {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
  background: none;
  outline: none;
  margin: 15px;
  padding: 0;
  justify-content: space-evenly;
}

img {
  width: 15vh;
  height: 15vh;
  cursor: pointer;
}

.change-game {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}




